In [1]:
import pandas as pd

train = pd.read_csv('t2-1-train.csv')
test = pd.read_csv('t2-1-test.csv')

In [2]:
train.head(3)

,id,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,10000,28,Private Sector/Self Employed,Yes,1250000.0,6,1,No,No,0
1,10001,31,Private Sector/Self Employed,Yes,1250000.0,7,1,No,No,0
2,10002,29,Private Sector/Self Employed,Yes,1200000.0,7,0,No,No,1

In [3]:
test.head(3)

,id,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad
0,0,32,Government Sector,Yes,650000.0,5,0,No,No
1,1,27,Government Sector,Yes,500000.0,5,0,No,No
2,2,32,Government Sector,Yes,350000.0,2,0,No,No

In [4]:
train.AnnualIncome = train.AnnualIncome.fillna(train.AnnualIncome.mean())

In [5]:
y_train = train.pop('TravelInsurance')

In [6]:
drop_cols = ['id']
train = train.drop(columns=drop_cols)
test = test.drop(columns=drop_cols)

In [7]:
train = pd.get_dummies(train)
test = pd.get_dummies(test)

In [8]:
test.columns.difference(train.columns)

Index(['Employment Type_Casual employment'], dtype='object')

In [9]:
train = train.reindex(columns=train.columns.tolist()+['Employment Type_Casual employment'], fill_value=0)

In [10]:
train = train.sort_index(axis=1)
test = test.sort_index(axis=1)

In [11]:
from sklearn.model_selection import train_test_split

x_tr, x_val, y_tr, y_val = train_test_split(train, y_train, test_size=0.3, random_state=0, stratify=y_train)

In [12]:
x_tr

,Age,AnnualIncome,ChronicDiseases,Employment Type_Casual employment,Employment Type_Government Sector,Employment Type_Private Sector/Self Employed,EverTravelledAbroad_No,EverTravelledAbroad_Yes,FamilyMembers,FrequentFlyer_No,FrequentFlyer_Yes,GraduateOrNot_No,GraduateOrNot_Yes
1058,33,1400000.0,0,0,0,1,0,1,3,1,0,0,1
653,34,500000.0,0,0,0,1,1,0,4,1,0,0,1
1143,34,500000.0,0,0,0,1,1,0,7,1,0,0,1
799,29,1200000.0,0,0,0,1,1,0,4,1,0,0,1
982,30,550000.0,0,0,0,1,1,0,4,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,28,700000.0,0,0,0,1,1,0,4,0,1,0,1
182,28,550000.0,0,0,0,1,1,0,6,1,0,1,0
232,34,700000.0,0,0,0,1,1,0,2,1,0,0,1
527,28,550000.0,0,0,0,1,1,0,6,0,1,0,1
1015,25,1400000.0,1,0,0,1,0,1,4,0,1,0,1

In [13]:
test.reindex()

,Age,AnnualIncome,ChronicDiseases,Employment Type_Casual employment,Employment Type_Government Sector,Employment Type_Private Sector/Self Employed,EverTravelledAbroad_No,EverTravelledAbroad_Yes,FamilyMembers,FrequentFlyer_No,FrequentFlyer_Yes,GraduateOrNot_No,GraduateOrNot_Yes
0,32,650000.0,0,0,1,0,1,0,5,1,0,0,1
1,27,500000.0,0,0,1,0,1,0,5,1,0,0,1
2,32,350000.0,0,0,1,0,1,0,2,1,0,0,1
3,26,1400000.0,0,0,0,1,0,1,6,1,0,0,1
4,27,350000.0,0,0,0,1,1,0,3,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,25,1150000.0,1,0,0,1,1,0,5,0,1,1,0
493,34,1500000.0,0,0,0,1,0,1,9,0,1,0,1
494,33,700000.0,0,0,1,0,1,0,4,1,0,0,1
495,26,1400000.0,0,0,0,1,0,1,4,1,0,0,1
496,26,1500000.0,0,0,0,1,0,1,3,0,1,0,1

In [14]:
from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()
x_tr = scaler.fit_transform(x_tr)
x_val = scaler.transform(x_val)
test = scaler.transform(test)

In [47]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(random_state=0, max_depth=7, n_estimators=100)
model.fit(x_tr, y_tr)

RandomForestClassifier(max_depth=7, random_state=0)

In [48]:
pred_proba = model.predict_proba(x_val)[:, 1]

In [49]:
from sklearn.metrics import roc_auc_score

roc_auc_score(y_val, pred_proba)

0.812475291016912

AttributeError: 'numpy.ndarray' object has no attribute 'isnull'